<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<a href="{% url 'tasks' %}">Go Back</a>
<form method="POST">
    {% csrf_token %}
    <h4>Are your sure want to delete this task? "{{task}}"</h4>
    <input type="submit" value="Delete">
</form>
</body>
</html>